
#greeting {
    position: absolute;
    width: 700px;
    height: 107px;
    left: 440px;
    top: 114px;

    font-family: Arial;
    font-style: bold;
    font-weight: 600;
    font-size: 42px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #6B705C;
}

#username {
    position: absolute;
    width: 646px;
    height: 93px;
    left: 397px;
    top: 307px;

    background: rgba(240, 239, 235, 0.2);
    border: 2px solid #CCD5AE;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 10px;
}

#username::placeholder{
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    padding: 40px;
    color: #CCD5AE;
}

#pw {
    position: absolute;
    width: 646px;
    height: 93px;
    left: 397px;
    top: 466px;

    background: rgba(240, 239, 235, 0.2);
    border: 2px solid #CCD5AE;
    box-sizing: border-box;
    border-radius: 100px;
}

#pw::placeholder{
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    padding: 40px;
    color: #CCD5AE;
}


#redirect_cue {
    position: absolute;
    width: 400px;
    height: 28px;
    left: 500px;
    top: 891px;

    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #6B705C;
}

#redirect_to_log_in {
    position: absolute;
    width: 400px;
    height: 28px;
    left: 768px;
    top: 891px;

    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #6B705C;
}

#redirect_to_main {
    position: absolute;
    width: 400px;
    height: 28px;
    left: 590px;
    top: 924px;

    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-decoration-line: underline;

    color: #6B705C;
}

#submit_button {
    position: absolute;
    width: 474px;
    height: 93px;
    left: 483px;
    top: 657px;

    background: #CCD5AE;
    border-radius: 100px;
}