a {
    text-decoration: none;
    color: black;
}

#login_word {
    color: #d4a373;
}


#main_heading{
    margin-top: 2%;
    width: 100%;
    height: 300px;
    background-color: #FEFAE0
}
#welcome{
    padding-top: 2%;
    margin-left: 8%;

    background-color: #FEFAE0;

}

#welcome_word{
    font-family: Arial;
    font-style: normal;
    font-size: 80px;
    color: #6B705C;
}

#search_area {
    margin-top: 20px;
}


#query {
    border: 0px;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    background-color: #E9EDC9;
    padding: 20px;
}

#search_button{
    width: 15%;
    border: none;
    background-color: #CCD5AE;
    height: 50px;
    border-radius: 50px;
}

#search_word{
    color: #6B705C;    
    font-family: Arial;
    font-style: bold;
}

#communities{
    background-color: rgba(240, 239, 235, 0.27); ;
}

#community{
    height: 200px;

}


/* .community_title {
    display: inline-block;
    margin-left: 20%;
} */



.community_left{
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}

.profile{
    width : 100px;    
}

.community_right{
    margin-left: 5%;
    /* display: inline-block; */
    float: left;
}

.community_title{
    
}

#community_name{
    color: #6B705C;    
    font-family: Arial;
    font-style: bold;
}

.community_intro{
    margin-top: 10%;

}


.intro_word{
    font-family: Arial;
    color: #D4A373;
}