a {
    text-decoration: none;
    color: black;
}

h2 {
    color: #d4a373;
}

#community_name {
    color: #6b705c;
    font-family: Monospace, "Monaco";
}

#main_heading{
    /* Rectangle 1 */


width: 1440px;
height: 327px;
left: 0px;
top: 111px;

background-color: #FEFAE0;

}

#welcome{
    font-family: Montserrat;
    font-style: normal;
    font-size: 64px;
}

#query {
    border: 0px;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    background-color: #E9EDC9;
    padding: 20px;
}

#search_button{
    width: 15%;
    border: none;
    background-color: #CCD5AE;
    height: 50px;
    border-radius: 50px;
}

#search_word{
    font-family: Montserrat;
    font-style: normal;
}